
<!DOCTYPE html>
  <html>
    {% extends "base.html" %} {% block title %}Home{% endblock %} 
    {% block main %}
    <head>
      <link rel="stylesheet" type="text/css" href="../static/styles/style.css">
    </head>
    <body>
      <ul class="navbar">
        <li><a href="/upload">Upload</a></li>
        <li><a href="#">Buy and Sell</a></li> 
      </ul>
      <div
        <div class="d-flex mt-4 mb-5 justify-content-center">
          <h2>Search recipes</h2>
        </div>
        <form method="POST">
            <div class="d-flex justify-content-center">
            <div class="d-flex-inline">
              <div class="input-group mb-3">
                <center> <input type="text" name="search_recipe" class="form-control" placeholder="Recipe name" aria-label="Recipient's username" aria-describedby="button-addon2"></center>
                <center> <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button></center>
              </div>
            </div>
            </div>
        </form>
        <div class="d-flex mt-4 mb-5 justify-content-center">
          <h2>About Us</h2>
          <h3>Baked Bliss is a decentralized recipe marketplace app utilizing AI in order to ensure quality data hygiene and reliability by removing duplicate entries and giving recipe recommendations to users. Anybody is welcome to add to the collection of recipes for a G-token reward as an incentive to contribute! Our users may also put a price tag on their entries in order to sell their creations on the marketplace a recieve awards and recognition for their dish. We hope you enjoy!</h3>
        </div>
      </div>
      
      


    </body>
    
    {% endblock %}
  </html>
